{name, "mochiweb"}.
{description, "Erlang library for building lightweight HTTP servers"}.
{url, {git, "https://github.com/mochi/mochiweb.git",{tag,"1.4.1"}}}.
{homepage, "https://github.com/mochi/mochiweb"}.
{rebar_compatible, true}.
{applications, [mochiweb]}.
{authors, ["Bob Ippolito <bob@mochimedia.com>"]}.
{license, "MIT", "LICENSE"}.
